
<%= render "userheader" %>
<div class="page-header">
    <h1>My Profile</h1>
</div>
<div id="alert_msg"></div>

<div class="container"></div>
<div id="gridxdiv">
<%= render partial: "getallbooks" %>
</div>
